*.gdx
*.g00
samples.txt
/output
/logerror
/scenario_data
**/output_file*.txt
/model/[0-9]*
*.lst
*.gsp
**/__pycache__/
/model/input_params.csv
/model/%batfileMERGEWITHBASE%
/GSA_env
\.\.\\logerror*
parameters/